<h1>@conteudo</h1>

<input @bind-value="conteudo" @bind-value:event="oninput" />
@* <MudTextField @bind-Value="conteudo" @bind-Value:event="oninput" Label="Standard" Variant="Variant.Text" /> *@

@code {
    public string conteudo { get; set; } = "texto inicial!";
}
