@inherits LeftMenuPage

<MudNavMenu Color="Color.Transparent">
    <MudDivider Class="my-2" />
    @if (IsBusy)
    {
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    }
    else
    {
        <MudNavLink Style="font-size:medium; color: black;"
                    OnClick="@(() => GoTo("/configdashboard"))"
                    Match="NavLinkMatch.All">
            <div style="vertical-align: middle; padding: 0; margin: 0; display: inline-flex">
                <span class="material-symbols-outlined">
                    home
                </span>
                &nbsp;&nbsp;DASHBOARD
            </div>
        </MudNavLink>
        @foreach (var item in LeftMenuItems!)
        {
            <MudNavLink Style="font-size:medium; color: black;"
                        OnClick="@(() => GoTo(item.Value!))"
                        Match="NavLinkMatch.All">
                <div style="vertical-align: middle; padding: 0; margin: 0; display: inline-flex">
                    <span class="material-symbols-outlined">
                        @item.Icon
                    </span>
                    &nbsp;&nbsp;@item.Key!.ToUpper()
                </div>
            </MudNavLink>
        }
    }
</MudNavMenu>

@code {
    protected override void OnInitialized()
    {
        BuildLeftMenu();
    }

    private void GoTo(string page)
    {
        GotoPage(page);
    }
}
